@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.background.DEFAULT);
  --foreground: theme(colors.foreground.DEFAULT);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme(colors.foreground.DEFAULT);
    --foreground: theme(colors.background.DEFAULT);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
